{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
# WSL-specific code
export WSL=true
{{ else }}
export WSL=false
{{   end }}
{{ end }}

export ZSH=/home/skogix/.config/zsh/oh-my-zsh
export ZSH_CUSTOM=/home/skogix/.config/zsh/oh-my-zsh/custom
export DOCKER_CONFIG=/home/skogix/srv/compose
export DOCKER_VOLUMES=/home/skogix/srv/volumes
export DOCKER_SECRETS=/home/skogix/srv/.secret

